{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>
    {{ form_start(emailForm) }}
    {{ form_widget(emailForm.email) }}
    {{ form_widget(emailForm.envoyer) }}
    {{ form_end(emailForm) }}
{% endblock %}
