/*
 LE CAROUSEL INFINITE LOOP
*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

main{
    margin: 50px auto;
}

.infinite-carousel{
    height:150px;

}

.infinite-carousel .list{

    width: 8000px;
    height:150px;
    overflow:visible;

}

.infinite-carousel .viewport
{
    width:95%;
    margin: 0 auto;
    height:150px;
    overflow:hidden;
}


.item
{
    display: inline-block !important;
    text-align: center;
    height:100%;
    width: 249px;
    border: none !important;
    background-color: #f8f9fa;
    margin: 0 4px;
}

.card-header-main
{
    box-sizing: border-box;
    z-index:10;
    background-color: darkgoldenrod;
    height: 90px;
}

.card-header-main .card-body
{
    height:100%;
}

.card-header-carousel
{
    padding:0 !important;
    box-sizing: border-box;
    z-index:10;
}

.card img {
    width:100%;
    box-sizing: border-box;
    background-size:cover;
    border:none;
    height:150px;
}

.card-body h4{
    padding:10px;
}

.carousel-footer
{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height:150px;
    border-top:none;
}

section
{
    z-index:1000;

}
/*
 LE HOVER CARD
*/

/* main:focus-within .card,
    main:hover .card {
    transform: translateX(-5%);
}

.card:focus ~ .card,
    .card:hover ~ .card {
    transform: translateX(5%);
} */

.borderCard
{
    border:1px solid black;
}


.card-body
{
    border:  1px solid #e5e5e5 ;
    overflow:hidden;
    transition: all 200ms ease-in;
    padding:0 !important;
    text-align: center;
}

.pre, .next{
    height:150px;
    margin: 267px 0;
}