{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<main class="container">
    <h2>Modifier l'utilisateur '{{ user.nom }}'</h2>


</main>
{% endblock %}
