{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<main class="container">
    <h2 style="margin-top: 50px;"> Bienvenue sur la page d'administration</h2>
    <section class="m-auto">
        <article>
            <p class="list-group-item"><a href="{{ path('admin_users') }}">Voir les utilisateurs</a></p>
        </article>
        <article>
            <p class="list-group-item"><a href="{{ path('admin_brasseurs') }}">Voir les brasseurs</a></p>
        </article>
    </section>
    <a class="btn btn-outline-secondary mt-2" href="{{ path('home_index') }}">Retour à l'accueil du site</a>
</main>
{% endblock %}
